<div class="row">
    <div class="col-md-12">
        <form class="well">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Введите Github Username..." [(ngModel)]="username" name="username" (keyup)="searchUser()" />
            </div>
        </form>
    </div>
</div>

<div *ngIf="user">
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            {{ user.login }}
        </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
            <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{ user.avatar_url }}" />
                        <a class="btn btn-default btn-block" target="_blank" href="{{ user.html_url }}">View Profile</a>
                    </div>
                    <div class="col-md-8">
                        <div class="stats">
                            <h3>{{ user.public_repos }} <span class="badge badge-secondary">Public Repos</span></h3>
                            <h4>{{ user.public_gists }} <span class="badge badge-secondary">Public Gists</span></h4>
                            <h5>{{ user.followers }} <span class="badge badge-secondary">Followers</span></h5>
                            <h6>{{ user.following }} <span class="badge badge-secondary">Following</span></h6>
                        </div>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Username: </strong>{{user.login}}
                            </li>
                            <li class="list-group-item">
                                <strong>Created at: </strong>{{user.created_at}}
                            </li>
                            <li class="list-group-item">
                                <strong>Type: </strong>{{user.type}}
                            </li>
                        </ul>
                    </div>
            </div>
        </span>
    </nav>
    <div class="row marketing">
        <h2>Пользовательскте репозитории</h2>
    </div>
    <div class="row marketing">
        <div class="card col-lg-4" style="width: 20rem;" *ngFor="let repo of filterd_repos">
            <div class="card-body">
                <h4 class="card-title">{{repo.name}}</h4>
                <h6 class="card-title">Создано: {{repo.created_at}}</h6>
                <p class="card-text">Язык программирования: {{repo.language}}</p>
                <p class="card-text">Watchers: {{repo.watchers}}</p>
                <a href="{{repo.svn_url}}" target="_blank" class="btn btn-primary">Ссылка на репозиторий</a>
            </div>
        </div>
    </div>
</div>